<div class="container-fluid" id="home-container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to the Blog.</h1>
        <p class="lead">What is your story? Come share it with us.</p>
        <hr class="my-4">
        <p>Make an account and start sharing</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up!</a>
        </p>
    </div>
</div>