@import "bootstrap";


html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
.navbar {
    background-color: black !important;
}

.nav-link{
    color: white !important
}

#logo{
    color: white !important
}
#home-container{
    padding-left: 0px;
    padding-right: 0px;
    height: 100vh !important
}

.jumbotron{
    height: 500px;
    color: white !important;
}   

#show{
    color: white;
}

.btn-outline-success{
    color: #0d6efd !important;
    border-color: #0d6efd !important
}

#page-content{
    background-image: asset-url("jumbo-image.jpg") !important;
    background-color: #EEEEEE;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    overflow: auto;

}

a {
    color: inherit;
    text-decoration: none;
    
  }

//   pagination styling

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
cursor: default; }
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; 
    border-radius: 5px;
}
.flickr_pagination .disabled {
    color: #aaaaaa; }
.flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: black; 
    background-color: white;}
.flickr_pagination a {
    color: white;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
    background: white;
    color: black; }
.flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
.flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
.flickr_pagination .previous_page {
    margin-right: 1em; }
.flickr_pagination .next_page {
    margin-left: 1em; }